SUPABASE_URL=https://sbtfdxbgycwijycsahny.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNidGZkeGJneWN3aWp5Y3NhaG55Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjkwMzMxMywiZXhwIjoyMDkyNDc5MzEzfQ.7ItKeoy7GIGXR0eltXxlLpfpoTLsyoQ2IKT0WpSivD0
